CMQuery.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (C) 2011 Thijs van Dijk
    
    This file is part of CM-LDB.

    CM-LDB is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    CM-LDB is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CM-LDB.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema id="CMQuery"
    targetNamespace="https://database.collegiummusicum.nl/CMQuery.xsd"
    elementFormDefault="qualified"
    xmlns="https://database.collegiummusicum.nl/CMQuery.xsd"
    xmlns:mstns="https://database.collegiummusicum.nl/CMQuery.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
    <xs:element name="Query">
        <xs:complexType>
            <xs:all>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="Title" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The (short) title of the query. This should typically be less than five words.
                                    </xs:documentation>
                                    <xs:documentation xml:lang="nl">
                                        De (korte) titel van de query. Deze heeft over het algemeen een lengte van minder dan vijf woorden.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Description" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        A long description of what this query does.
                                    </xs:documentation>
                                    <xs:documentation xml:lang="nl">
                                        Een uitgebreide beschrijving van wat deze query doet.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Author" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The name of the author of this query.
                                    </xs:documentation>
                                    <xs:documentation xml:lang="nl">
                                        De naam van de auteur van deze query.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="PersoonID" type="xs:integer">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="en">
                                                        The ID of the author, if he/she is in the database.
                                                    </xs:documentation>
                                                    <xs:documentation xml:lang="nl">
                                                        Het ID van de auteur, indien deze in de database staat.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Category" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The category in which this query belongs.
                                    </xs:documentation>
                                    <xs:documentation xml:lang="nl">
                                        De categorie onder welke deze query valt.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Parameters">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            A list of parameters to the query.
                        </xs:documentation>
                        <xs:documentation xml:lang="nl">
                            Een lijst parameters voor de query.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="Parameter">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        Description of a single parameter.
                                    </xs:documentation>
                                    <xs:documentation xml:lang="nl">
                                        Beschrijving van een parameter.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType mixed="true">
                                    <xs:choice>
                                        <xs:element name="Integer">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Input parameter for an integer.
                                                </xs:documentation>
                                                <xs:documentation xml:lang="nl">
                                                    Invoerparameter voor een geheel getal.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:long">
                                                        <xs:attribute name="Min" type="xs:integer" use="optional">
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="en">
                                                                    The minimal value.
                                                                </xs:documentation>
                                                                <xs:documentation xml:lang="nl">
                                                                    De minimale waarde.
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                        <xs:attribute name="Max" type="xs:integer" use="optional">
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="en">
                                                                    The maximal value.
                                                                </xs:documentation>
                                                                <xs:documentation xml:lang="nl">
                                                                    De maximale waarde.
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DateTime">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Input parameter for a date.
                                                </xs:documentation>
                                                <xs:documentation xml:lang="nl">
                                                    Invoerparameter voor een datum.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:dateTime">
                                                        <xs:attribute name="Min" type="xs:dateTime" use="optional">
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="en">
                                                                    The minimal value.
                                                                </xs:documentation>
                                                                <xs:documentation xml:lang="nl">
                                                                    De minimale waarde.
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                        <xs:attribute name="Max" type="xs:dateTime" use="optional">
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="en">
                                                                    The maximal value.
                                                                </xs:documentation>
                                                                <xs:documentation xml:lang="nl">
                                                                    De maximale waarde.
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="String" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Input parameter for a text value.
                                                </xs:documentation>
                                                <xs:documentation xml:lang="nl">
                                                    Invoerparameter voor een tekst.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Pick">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Choose from a finite number of options.
                                                </xs:documentation>
                                                <xs:documentation xml:lang="nl">
                                                    Kies uit een eindig aantal opties.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="Subquery">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="en">
                                                            </xs:documentation>
                                                            <xs:documentation xml:lang="nl">
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="ValueMember" type="xs:string">
                                                                        <xs:annotation>
                                                                            <xs:documentation xml:lang="en">
                                                                            </xs:documentation>
                                                                            <xs:documentation xml:lang="nl">
                                                                            </xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                    <xs:attribute name="DisplayMember" type="xs:string">
                                                                        <xs:annotation>
                                                                            <xs:documentation xml:lang="en">
                                                                            </xs:documentation>
                                                                            <xs:documentation xml:lang="nl">
                                                                            </xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="ValueList">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="en">
                                                            </xs:documentation>
                                                            <xs:documentation xml:lang="nl">
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                <xs:element name="Option">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="Value" use="optional">
                                                                                    <xs:annotation>
                                                                                        <xs:documentation xml:lang="en">
                                                                                        </xs:documentation>
                                                                                        <xs:documentation xml:lang="nl">
                                                                                        </xs:documentation>
                                                                                    </xs:annotation>
                                                                                </xs:attribute>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                                <xs:attribute name="multiple" type="xs:boolean">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="en">
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="nl">
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="Name" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                            </xs:documentation>
                                            <xs:documentation xml:lang="nl">
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="Title" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                            </xs:documentation>
                                            <xs:documentation xml:lang="nl">
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="Description" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                            </xs:documentation>
                                            <xs:documentation xml:lang="nl">
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <!-- TODO: Input parameters. -->
                            <xs:element name="Text">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The MySQL query itself.
                                    </xs:documentation>
                                    <xs:documentation xml:lang="nl">
                                        De MySQL-query zelf.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Name" type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="en">
                                                        The name of the result table.
                                                    </xs:documentation>
                                                    <xs:documentation xml:lang="nl">
                                                        De naam van de resultaattabel.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <!-- 
                                Merk op: een query kan meerdere <Text>s bevatten. 
                                Dit is om het teruggeven van meerdere resultaattabellen te 
                                ondersteunen.
                            -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
